@model IEnumerable<FSE_Subscription_App.Models.UserSubscription>

@{
	ViewBag.Title = "My Subscriptions";
}

<h2>My Subscriptions</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subscription.SubscriptionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subscription.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subscription.Provider.CompanyName)
        </th>
        <th></th>
		<th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Subscription.SubscriptionName, "Details", "Subscription", new { id=item.Subscription.ID}, new {})
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subscription.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subscription.Provider.CompanyName)
        </td>
	<td>
		

			   <input type="button" value="Unsubscribe" onclick="location.href='@Url.Action("Unsubscribe", "Subscription", new { id=item.Subscription.ID })	'" />
		  
		</td>
    </tr>
}

</table>
