@model FSE_Subscription_App.Models.Provider
@using FSE_Subscription_App.Models;

@{
    ViewBag.Title = "Details";
	ICollection<UserSubscription> UserSubscriptions = ViewBag.UserSubscriptions;
	ICollection<Content> ContentList = ViewBag.ContentList;
}

<h2>Details</h2>

<fieldset>
    <legend>Provider</legend>

    <div class="display-label">
         <strong>@Html.DisplayNameFor(model => model.CompanyName)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyName)
    </div>

    <div class="display-label">
         <strong>@Html.DisplayNameFor(model => model.SiteLink)</strong>
    </div>
    <div class="display-field">
        <a href="@Model.SiteLink" target="_blank">@Html.DisplayFor(model => model.SiteLink)</a>
    </div>
</fieldset>

<h2>Subscriptions</h2>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
		<th>
			Duration
		</th>
		<th>
			Price
		</th>
        <th></th>
		<th></th>
    </tr>

@foreach (FSE_Subscription_App.Models.Subscription subscription in ViewBag.Subscriptions) {
    <tr>
        <td>
           @Html.ActionLink(subscription.SubscriptionName, "Details", "Subscription", new { id = subscription.ID }, new object { })
        </td>
        <td>
            @Html.DisplayFor(modelItem => subscription.Description)
        </td>
		<td>
			@subscription.GetDuration()
		</td>
		<td>
			@Html.DisplayFor(modelItem => subscription.Price)
		</td>
		<td>
			@if(!User.IsInRole("ContentManager") && (UserSubscriptions.Count(usub => usub.SubscriptionID == subscription.ID) == 0))
			{
				<input type="button" value="Subscribe" onclick="location.href='@Url.Action("Subscribe", "Subscription", new { id=subscription.ID })	'" />
			}
		   else if (!User.IsInRole("ContentManager") && (UserSubscriptions.Count(usub => usub.SubscriptionID == subscription.ID) == 1))
		   {
			   <input type="button" value="Unsubscribe" onclick="location.href='@Url.Action("Unsubscribe", "Subscription", new { id=subscription.ID })	'" />
		   }
	   </td>
        <td>
			@if(User.IsInRole("ContentManager") && ViewBag.ProviderID == subscription.ProviderID)
			{
				@Html.ActionLink("Edit", "Edit", "Subscription", new { id = subscription.ID }, new object { }) @: |
				@Html.ActionLink("Delete", "Delete", "Subscription", new { id = subscription.ID }, new object { })
			}
		</td>
    </tr>
}
</table>

@if ((User.IsInRole("ContentManager") && ViewBag.ProviderID == Model.ID) || User.IsInRole("Admin"))
{
<h2>Content</h2>
<table>
    <tr>
		<th>
            File
        </th>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
			Description
        </th>
        <th>
            Company
        </th>
        <th></th>
    </tr>

@foreach (var item in ContentList)
{
    <tr>
		<td>
			@if (item.ContentType == "audio/mp3")
   {
				@Html.ActionLink(item.Name, "Audio", "Content", new { id = item.ID }, new object { })
   }
   else if (item.ContentType == "video/wmv")
   {
				@Html.ActionLink(item.Name, "Video", "Content", new { id = item.ID }, new object { })
   }
   else
   {
				@Html.ActionLink(item.Name, "ViewContent", "Content", new { id = item.ID }, new object { })
   }
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provider.CompanyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}
</table>
}

<p>
	@if (User.IsInRole("ContentManager") && ViewBag.ProviderID == Model.ID)
 {
		@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) @: |
	}
    @Html.ActionLink("Back to List", "Index")
</p>
