.
@model IEnumerable<FSE_Subscription_App.Models.Provider>

@{
    ViewBag.Title = "Providers";
}

<h2>Providers</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteLink)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            <a href="@item.SiteLink" target="_blank">@Html.DisplayFor(modelItem => item.SiteLink)</a>
        </td>
        <td>
			@Html.ActionLink("Details", "Details", new { id=item.ID })
			@if(User.IsInRole("ContentManager") && ViewBag.ProviderID == item.ID)
			{
				@: |
				@Html.ActionLink("Edit", "Edit", new { id=item.ID })
			}
            @if(User.IsInRole("Admin"))
			{
				@: |
				@Html.ActionLink("Edit", "Edit", new { id=item.ID })
			}
        </td>
    </tr>
}

</table>


       
