@{
    ViewBag.Title = "MDG Productions Presents";
}
@{
    ViewBag.Subtitle = "A New Way to Get Your Online Content";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2><i>@ViewBag.Title</i></h2><h1><b> SubHub --</b></h1>
                <h2>@ViewBag.Subtitle</h2>
            </hgroup>
			<h4 style="text-align:center">@ViewBag.Message</h4>
        </div>
    </section>
}

<h3>For testing only: @Html.ActionLink("Content", "Index", "Content")</h3>

<h3>@Html.ActionLink("Providers", "Index", "Provider")</h3>
@if(User.Identity.IsAuthenticated)
{
	<h3>@Html.ActionLink("Subscriptions", "Index", "Subscription")</h3>
}