@model FSE_Subscription_App.Models.Subscription

@{
    ViewBag.Title = "Create";
}

@{
    string[] options = { "Minute(s)", "Week(s)", "Year(s)" };
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Subscription", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Subscription</legend>

		<div class="editor-label">
            @Html.LabelFor(model => model.ProviderID, "Provider")
			@ViewBag.Provider
        </div>
        <div class="editor-label">
            <b>@Html.LabelFor(model => model.SubscriptionName)</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubscriptionName)
            @Html.ValidationMessageFor(model => model.SubscriptionName)
        </div>
        <div class="editor-label">
            <b>@Html.LabelFor(model => model.Description)</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
		<div class="editor-label">
			<b>@Html.LabelFor(model => model.GetDuration())</b>
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.TimeCount) @Html.DropDownListFor(model => model.TimeUnits, new SelectList(@options))
			@Html.ValidationMessageFor(model => model.TimeCount) @Html.ValidationMessageFor(model => model.TimeUnits)
		</div>
		<div class="editor-label">
			<b>@Html.LabelFor(model => model.Price)</b>
		</div>
		<div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

		<div class="editor-label">
			<b>@Html.LabelFor(model => model.Contents)</b>
		</div>

		<div class="editor-field">
			<div id="contents">
				<div class="content">
					@Html.DropDownList("Contents", String.Empty)
					<button type="button" class="remove">Remove</button><br />
				</div>
			</div>
			<button type="button" id="add">Add</button>
		</div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
	<script type="text/javascript" src="scripts/jquery-1.4.1.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {

			var newContent = $('.content').clone();

			$('#contents').delegate(".remove", "click", function () {
				$(this).closest('.content').remove();
			});

			$('#add').click(function () {
				$(newContent).clone().appendTo('#contents');
			});

		});
	</script>
}