@model FSE_Subscription_App.Models.Subscription

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Subscription</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubscriptionName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubscriptionName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Provider.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Provider.CompanyName)
    </div>
	<div class="display-label">
		@Html.DisplayNameFor(model => model.Contents)
	</div>

	<h2>Contents</h2>

	<table>
		<tr>
			<th>
				File
			</th>
			<th>
				Name
			</th>
			<th>
				Type
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Provider.CompanyName)
			</th>
		</tr>

	@foreach (var item in Model.Contents) {
		<tr>
			<td>
				@Html.ActionLink(item.Name, "ViewContent", "Content", new { id=item.ID}, null)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Type)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Provider.CompanyName)
			</td>
		</tr>
	}
	</table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
