@model IEnumerable<FSE_Subscription_App.Models.Subscription>

@{
	ViewBag.Title = "All Subscriptions";
}

<h2>All Subscriptions</h2>

@if(User.IsInRole("ContentManager"))
{
	<p>
		@Html.ActionLink("Create New", "Create")
	</p>
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubscriptionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provider.CompanyName)
        </th>
        <th></th>
		<th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.ActionLink(item.SubscriptionName, "Details", new { id=item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provider.CompanyName)
        </td>
		<td>
			@if(!User.IsInRole("ContentManager") && !ViewBag.UserSubscriptions.Contains(item))
			{
				<input type="button" value="Subscribe" onclick="location.href='@Url.Action("Subscribe", "Subscription", new { id=item.ID })'" />
			}
		   else if (!User.IsInRole("ContentManager") && ViewBag.UserSubscriptions.Contains(item))
		   {
			   <input type="button" value="Unsubscribe" onclick="location.href='@Url.Action("Unsubscribe", "Subscription", new { id=item.ID })	'" />
		   }
		</td>
        <td>
            @if(User.IsInRole("ContentManager") && ViewBag.ProviderID == item.ProviderID)
			{
				@Html.ActionLink("Edit", "Edit", new { id=item.ID }) @: |
				@Html.ActionLink("Delete", "Delete", new { id=item.ID })
			}
        </td>
    </tr>
}

</table>
